*,
body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body {
 display: flex;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(235, 18%, 26%);
}
#signup-page{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    background-color: blue;
}
.formImg img{
    width: 300px;
}

.success-msg{
    visibility: hidden;
}